html {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

hr {
    border-color: #E0E0E0;
}

h1 {
    margin-top: 2rem;
}

#navEmail {
    font-size: 1.6rem;
}

#me {
    float: left;
    margin-top: 2rem;
}

#works {
    text-align: center;
}

#worksProgress {
    text-align: center;
}

.button {
    background-color: #03A9F4;
    border-color: #03A9F4;
}

/* Footer styles */

#socialHeader {
    margin-bottom: -0.25rem;
}

.emailContainer {
    margin-bottom: 1.0rem;
}

.emailLink {
    color: #03A9F4;
    font-size: 1.8rem;
}

.fa-envelope {
    margin-right: 0.5rem;
}

.fa-linkedin {
    margin-right: 1rem;
    color: #03A9F4;
}

.fa-github {
    color: #03A9F4;
}

.social-media li {
    display: inline;
    list-style: none;
}

#copyright {
    font-size: 1.2rem;
}

#hyperlink {
    color: #03A9F4;
}

/******************/

/* Larger than mobile screen */

@media (min-width: 40.0rem) {
    .fa-envelope {
        margin-right: 0.5rem;
    }
}